.edit-user-icon {
    -webkit-mask-image: url(../../../../../assets/images/edit-icon.svg);
    mask-image: url(../../../../../assets/images/edit-icon.svg);
  }
  .edit.icon {
    color:#2196F3;
  }
  .user.times.icon {
    color: #ef5350;
  }
  .user.plus.icon {
    color:#4caf50;
  }
  .ui.dropdown .menu {
    left: -48px;
  }  